:root {
    --barleywhite: #FFF2CC;
    --rangoongreen: #161616;
    --cta: #E8440A;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;

    padding-top: 12vh;
    width: 100%;
    height: auto;
}

.name {
    margin: 3% 0% 0% 3%;
    font-size: 4rem;
    font-family: 'Boston Angel', sans-serif;
    color: var(--barleywhite);
}

.opening {
    margin: 0% 3% 3% 3%;
    font-size: 1rem;
    color: var(--barleywhite);
}

.info-cont {
    display: flex;
    flex-direction: row;
    height: 650px;
}

.info-ratio1 {
    width: 40%;
    height: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 75%;
    padding: 2rem;
    box-sizing: border-box;
}

.back-spiral {
    position: absolute;
    width: 80%;
}

.profile > div {
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--barleywhite);
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack > p:first-child {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Boston Angel', sans-serif;
    color: var(--barleywhite);
}

.stack > div  {
    display: flex;
    flex-direction: row;
}

.info-ratio2 {
    width: 60%;
    height: 100%;
}

.back-cont, .educ-cont {
    width: 100%;
    height: 54%;
    box-sizing: border-box;
    padding: 3%;
}

.back-cont > div {
    position: relative;
    width: 92%;
    height: auto;
    padding: 3%;
    border-radius: 1.5rem;
    border: solid 3px var(--barleywhite);
    background-color: rgb(var(--rangoongreen), 0.0);
}

.back-cont > div > p:first-child{
    margin: 0%;
    font-size: 2rem;
    font-family: 'Boston Angel';
    color: var(--barleywhite);
}

.back-cont > div > p:nth-child(2){
    text-align: justify;
    text-indent: 4rem;
    line-height: 2rem;
    margin: 0%;
    font-size: 1rem;
    color: var(--barleywhite);
}

.back-cont > div > img {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 3rem;
}

.educ-cont > div {
    position: relative;
    width: 92%;
    height: 75%;
    padding: 3%;
    border-radius: 1.5rem;
    border: solid 3px var(--barleywhite);
    background-color: rgb(var(--rangoongreen), 0.0);
}

.educ-cont > div > p:first-child {
    margin: 0% 0% 0% 0%;
    font-size: 2rem;
    font-family: 'Boston Angel', sans-serif;
    color: var(--barleywhite);
}

ul {
    line-height: 1.5rem;
    color: var(--barleywhite);
}

.cert-header {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    margin: 10% 0% 5% 0%;
    padding: 5px 8px;
    width: 92%;
    height: 14vh;
    background-color: var(--barleywhite);
}

.cert-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 3px var(--rangoongreen);
    background-color: rgb(0, 0, 0, 0);
}

.cert-header > div > p {
    margin: 0;
    font-size: 3rem;
    font-family: 'Boston Angel';
}

.cert-header img {
    position: absolute;
    width: 4rem;
}

.cert-header > div > img:first-child {
    top: 5%;
    right: 1%;
}

.cert-header > div > img:nth-child(2) {
    bottom: 5%;
    left: 1%;
}

.cert-container {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25rem;
    width: 75%;
    column-gap: 4%;
}

.cert {
    display: flex;
    flex-direction: column;
}

.cert img {
    width: 100%;
    height: 50%;
}

.cert p {
    color: var(--barleywhite);
}

.cert p:nth-child(2) {
    margin: 5% 0 0 0;
    font-size: 1.4rem;
    font-family: 'Boston Angel';
}

.cert p:nth-child(3) {
    margin: 0;
}

.cert p:nth-child(4) {
    margin: 7% 0;
}

.line-break {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 92%;
}
.line-break div {
    width: 100%;
    height: 2px;
    background-color: var(--barleywhite);
}

.line-break img:first-child {
    margin: 0 1% 1% 0;
    width: 5%;
    align-self: flex-end;
}

.line-break img:last-child {
    margin: 1% 0 0 1%;
    width: 5%;
}

.learning-ratio {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 92%;
    height: auto;
    margin: 4rem 0;
}

.learning {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.learning > p {
    margin: 2rem 0 0 0;
    font-size: 2rem;
    color: var(--barleywhite);
    font-family: 'Boston Angel';
}

.tools, .hobbies {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 70%;
}

.tools > div, 
.hobbies > div {
    display: flex;
    box-sizing: border-box;
    width: auto;
    height: 2.3rem;
    margin: 3% 5% 0 0;
    border-radius: 20px;
    border: solid var(--barleywhite) 2px;
    background-color: rgb(0, 0, 0, 0);
}

.tools > div p,
.hobbies > div > p{
    margin: 0.4rem 1rem;
    color: var(--barleywhite);
}

.photo-ratio{
    width: 50%;
}

.photo-ratio img {
    width: 100%;
}

.together-ratio {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
    height: 12rem;
}

.together-ratio > p {
    align-self: center;
    font-size: 1.5rem;
    font-family: 'Boston Angel';
    color: var(--barleywhite);
}

.work-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    box-sizing: content-box;
    height: 15%;
    padding: 5%;
    border: solid 2px var(--barleywhite);
}

.work-mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
    background-color: var(--cta);
}

.work-btn p {
    z-index: 3;
    color: var(--barleywhite);
}

.work-btn p:nth-child(3) {
    font-size: 1.3rem;
    font-family: 'Boston Angel';
}

.work-btn:hover {
    border-color: rgb(0, 0, 0, 0);
}

.work-btn:hover .work-mask {
    width: 100%;
}