:root {
    --barleywhite: #FFF2CC;
    --rangoongreen: #161616;
    --boulder: #7A7A7A;
    --cta: #E8440A;
}

main {
    padding-top: 12vh;  
    height: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
}

.hero p {
    position: relative;
    width: fit-content;
    font-family: 'Pristina';
    font-size: 24px;
    color: var(--barleywhite);
}

.hero p:first-child{
    top: 22%;
    left: 30%;

}

.hero p:last-child{
    top: 2%;
    left: 42%;
}

.hero img {
    position: relative;
    top: 12%;
    left: 21%;
    width: 60%;
}

.about {
    display: flex;
    flex-direction: column;
    height: auto;
}

.about > img:first-child {
    align-self: center;
    width: 20vw;
}

hr {
    margin: 0;
    align-self: center;
    width: 92%;
    border-color: var(--barleywhite);
}

.about > img:nth-child(3) {
    margin-top: 1%;
    margin-right: 5%;
    align-self: flex-end;
    width: 3vw;
}

.about-ratio {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-top-right-radius: 120px;
    width: 92%;
    height: 1153h;
    margin-bottom: 9vh;
    background-color: var(--barleywhite);
}

.about-ratio > img:first-child{
    width: 3vw;
    height: 3vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

.introduction {
    white-space: pre-line;
    margin: 4vh 0px 0px 2vw;
    font-size: clamp(14px, 4vw, 45px);
    font-family: 'Boston Angel';
}

.learn-ratio {
    position: relative;
    width: 17vw;
    height: 9vh;
    margin-left: 5vw;
    padding: 0;
    border: none;
    background: none;
}

.learn-btn-background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.learn-btn-arrow-mask {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;

    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    overflow: hidden;
    z-index: 2;

    transition: width 0.4s ease;
}

.learn-btn-arrow {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;     
}

.learn-ratio:hover .learn-btn-arrow-mask {
    width: 100%;
}

.about > div > img:last-child {
    align-self: center;
    width: 20vw;
}

.highlights {
    display: flex;
    flex-direction: column;
    height: 233vh;
}

.highlights-header {
    display: flex;
    align-self: center;
    flex-direction: column;
    position: relative;
    width: 92%;
}

.highlights-header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.highlights-header > p {  
    align-self: center;
    margin: 8px 0px 0px 0px;
    font-size: 4rem;
    font-family: 'Boston Angel';
    color: var(--barleywhite);
}

.projects-grid {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 92%;
    height: auto;
    margin-top: 2%;
    column-gap: 4vw;
    row-gap: 13vh;
    padding: 3% 6% 0% 6%;
    box-sizing: border-box;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    border-radius: 1vw;
    padding:3% 4%;
    background-color: var(--barleywhite);
}

.item-img-wrapper {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0vh 0vh 2vh 0vh;
    width: 100%;
    height: 45%;
}

.item-img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    transition: transform 0.4s ease;
}

.item-img-wrapper:hover img {
    transform: scale(1.2);
    filter: brightness(0.8);
}

.project-name {
    margin: 2vh 0vh 0vh 0vh;
    font-size: 26px;
    font-family: 'Boston Angel';
}

.project-tools {
    margin: 0;
    font-size: 3vh;
    font-weight: bold;
}

.project-desc {
    position: absolute;
    margin: 0;
    left: 4%;
    top: 67%;
    font-size: 1rem;
}

.view-button {
    position: relative;
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5vh 0vh 5vh 0vh;
    width: 25%;
    height: 5%;
    padding: 0;
    background-color: rgb(0, 0, 0, 0);
    border: 3px solid var(--barleywhite);
}   

.view-button > p {
    z-index: 3;
    font-family: 'Boston Angel';
    color: var(--barleywhite);
}

.view-button >p:nth-child(3) {
    margin: 0vw 5vw 0vw;
    font-size: large;
}

.view-mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
    background-color: var(--cta);
}

.view-button:hover {
    border-color: rgb(0, 0, 0, 0);
}

.view-button:hover .view-mask {
    width: 100%;
}

.view-button:hover p {
    color: var(--barleywhite);
}

.highlights > img:last-child {
    align-self: center;
    width: 20vw;
    transform: rotate( 180deg);
}

@media (max-width: 1024px) {
    .learn-ratio {
        height: 7vh;
    }

    .highlights {
        height: 187vh;
    }

    .highlights-header > p {  
        margin: 0;
    }

    .about-ratio {
        margin-bottom: 5vh;
    }

    .projects-grid {
        row-gap: 10vh;
    }

    .item {
        height: 65vh;
    }

    .project-name {
        margin: 0vh;
        font-size: 20px;
    }

    .project-tools {
        font-size: 2vh;
    }

    .project-desc {
        top: 64%;
        font-size: 0.9rem;
        width: 90%;
    }

    .view-button {
        width: 25%;
        height: 4%;
    }

    .view-button > p:nth-child(3) {
            margin: 0vw 4vw 0vw;
    }
}

@media (max-width: 768px) {

    .hero {
        height: 87vh;
    }

    .hero p {
        font-size: 18px;
    }

    .hero p:last-child {
        top: 4%;
    }

    .learn-ratio {
        width: 16vw;
        height: 6vh;
    }

    .about-ratio > img:first-child {
        height: 2vh;
    }

    .highlights {
        height: 184vh;
    }

    .highlights-header > p {
        font-size: 3rem;
    }

    .projects-grid {
        row-gap: 8vh;
    }

    .project-name {
        margin: 0vh;
        font-size: 15px;
    }

    .project-desc {
        top: 64%;
        font-size: 0.7rem;
    }

    .view-button > p:nth-child(3) {
        margin: 0vw 3vw 0vw;
        font-size: small;
    }

    .highlights > img:last-child {
        width: 28vw;
    }
}

@media (max-width: 655px) {
    .hero {
        height: 60vh;
    }
    
    .hero p {
        font-size: 13px;
    }

    .hero p:first-child {
        top: 18%;
    }

    .hero p:last-child {
        top: 7%;
    }

    .learn-ratio {
        width: 15vw;
        height: 5vh;
    }

    .about-ratio {
        margin-bottom: 30px;
    }

    .highlights {
        height: 163vh;
    }

    .highlights-header > p {  
        font-size: 7vh;
    }

    .projects-grid {
        row-gap: 7vh;
    }

    .item {
        height: 58vh;
    }

    .item-img-wrapper > img {
        border-radius: 5px;
    }

    .project-name {
        margin: 0vh;
        font-size: 13px;
    }
    
    .project-desc {
        top: 64%;
        font-size: 0.6rem;
    }

    .view-button {
        width: 28%;
        height: 5%;
    }   
}

@media (max-width: 426px) {
    .hero {
        height: 50vh;
    }

    .hero p {
        font-size: 12px;
    }

    .hero p:first-child {
        top: 20%;
    }

    .hero p:last-child {
        top: 5%;
        left: 40%;
    }

    .learn-ratio {
        width: 21vw;
        height: 5vh;
    }

    .about > img:first-child {
        width: 40%;
    }

    .about-ratio {
        border-top-right-radius: 60px;
    }

    .about-ratio > img:first-child {
        height: 7px;
    }

    .introduction {
        margin: 2vh 0px 0px 2vw;
    }

    .highlights-header > p {  
        font-size: 5vh;
    }

    .highlights {
        height: 270vh;
    }

    .projects-grid {
        padding: 3% 0% 0% 0%;
        grid-template-columns: 1fr 1fr;
        row-gap: 6vh;
    }

    .item {
        height: 73vh;
    }

    .item-img-wrapper > img {
        border-radius: 1vh;
    }

    .project-name {
        font-size: 16px;
    }

    .project-tools {
        font-size: 12px;
    }

    .project-desc {
        font-size: 12px;
    }

    .view-button {
        width: 40%;
        height: 3%;
    }   

    .highlights > img:last-child {
        width: 50vw;
    }
}

@media (max-width: 320px) {
    .hero p:first-child {
        top: 22%;
        left: 23%;
    }

    .hero p:last-child {
        top: 2%;
        left: 31%;
    }

    .hero img {
        left: 5%;
        width: 90%;
    }

    .learn-ratio {
        margin-top: 2%;
        width: 30vw;
        height: 5vh;
    }

    .learn-btn-arrow-mask {
        border-top-left-radius: 4vw;
        border-bottom-left-radius: 4vw;
    }

    .about-ratio {
        margin-bottom: 4vh;
    }

    .about-ratio > img:first-child {
        width: 15px;
    }

    .highlights {
        height: 505vh;
    }

    .highlights-header > p {  
        font-size: 4vh;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .item {
        border-radius: 12px;
    }

    .item-img-wrapper > img {
        border-radius: 9px;
    }

    .project-name {
        font-size: 20px;
    }

    .project-tools {
        font-size: 3vh;
    }

    .project-desc {
        font-size: 0.9rem;
    }

    .view-button {
        width: 50%;
        height: 2%;
    }
}