:root {
    --barleywhite: #FFF2CC;
    --rangoongreen: #161616;
    --boulder: #7A7A7A;
    --cta: #f21202;
}

main {
    padding-top: 12vh;  
    height: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
}

.hero p {
    position: relative;
    width: fit-content;
    font-family: 'Pristina';
    color: var(--barleywhite);
}

.hero p:first-child{
    top: 22%;
    left: 30%;
    font-size: 4vh;
}

.hero p:last-child{
    top: 2%;
    left: 42%;
    font-size: 4vh;
}

.hero img {
    position: relative;
    top: 12%;
    left: 21%;
    width: 60%;
}

.about {
    display: flex;
    flex-direction: column;
    height: auto;
}

.about > img:first-child {
    align-self: center;
    width: 20vw;
}

hr {
    margin: 0;
    align-self: center;
    width: 92%;
    border-color: var(--barleywhite);
}

.about > img:nth-child(3) {
    margin-top: 1%;
    margin-right: 5%;
    align-self: flex-end;
    width: 3vw;
}

.about-ratio {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-top-right-radius: 120px;
    width: 92%;
    height: 1153h;
    margin-bottom: 9vh;
    background-color: var(--barleywhite);
}

.about-ratio > img:first-child{
    width: 3vw;
    height: 3vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

.introduction {
    white-space: pre-line;
    margin: 4vh 0px 0px 2vw;
    font-size: clamp(14px, 4vw, 45px);
    font-family: 'Boston Angel';
}

.learn-ratio {
    position: relative;
    width: 17vw;
    height: 9vh;
    margin-left: 5vw;
    padding: 0;
    border: none;
    background: none;
}

.learn-btn-background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.learn-btn-arrow-mask {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;

    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    overflow: hidden;
    z-index: 2;

    transition: width 0.4s ease;
}

.learn-btn-arrow {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;     
}

.learn-ratio:hover .learn-btn-arrow-mask {
    width: 100%;
}

.learn-ratio p:last-child  {
    display: none;
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 22%;
    margin: 0;
    font-size: 22px;
    color: white;
    font-family: 'Boston Angel', sans-serif;
}

.learn-ratio:hover p:last-child {
    display: inline;
}

.about > div > img:last-child {
    align-self: center;
    width: 20vw;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .hero p:last-child {
        font-size: ;
    }
}