:root {
    --barleywhite: #FFF2CC;
    --rangoongreen: #161616;
    --cta: #E8440A;
    --accent: #B89A6A;
}

body {
    margin: 0;
    font-family: 'Raleway';
    background-color: var(--rangoongreen);
    background-image: url('../Assets/Images/grain-texture.png');
    background-size: 100%;
    background-position: top;
    background-repeat: repeat;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway') 
        url('../Assets/Fonts/Raleway-Regular.ttf'),
        url('../Assets/Fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Boston Angel', 'sans-serif';
    src: local('Boston Angel') 
        url('Assets/Fonts/Boston Angel Regular.ttf'),
        url('Assets/Fonts/Boston Angel Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pristina';
    src: local('Pristina') 
        url('Assets/Fonts/Pristina_Regular.ttf'),
        url('Assets/Fonts/Pristina_Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    z-index: 500;

    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    margin: 0;

    background-color: var(--rangoongreen);
}

.logo { 
    max-height: 4rem;
    margin: 10px 0% 0% 2%;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 4%;
    right: 2%;
    height: 20px;
    width: 30px;
}

.hamburger span {
    background-color: var(--barleywhite);
    height: 3px;
    border-radius: 2px;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 700;
    width: 12rem;
    height: 110vh;
    background-color: #1F1F1F;
    box-shadow: -5px 0 20px rgba(0,0,0,0.3);
}

.menu-blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    width: 75%;
    height: 100%;
    background-color: rgb(16, 16, 16, 0.6);
}

.menu-header {
    width: 100%;
    height: 20%;
    background-color:  #2A2A2A;
}

.menu a {
    margin-top: 10%;
    font-size: 14px;
    color: var(--barleywhite);
    text-decoration: none;
}

#menu-toggle:checked ~ .menu {
    display: flex;
}

#menu-toggle:checked ~ .menu-blur {
    display: block;
}

nav {
    display: inline-flex;
    align-self: center;
    justify-content: space-evenly;

    width: 33vw;
    margin: 0% 2% 0% 0%;
}

nav > a {
    margin: 0% 1% 0% 1%;
    font-weight: bold;
    text-decoration: none;
    color: var(--barleywhite);
}

/*===================  FOOTER  ======================*/
footer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    height: 180px;
    background-color: var(--barleywhite);
    background-image: url(../Assets/Images/grain-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright-ratio {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 49%;
    height: 100%;
    padding: 0% 0% 0% 3%;
}

.copyright-ratio > p:first-child {
    margin: 4% 0% 0% 0%;
    font-size: x-large;
    font-family: 'Boston Angel', sans-serif;
}

.copyright-ratio > p:nth-child(2) {
    margin: 0;
    font-size: small;
    font-family: 'Pristina', sans-serif;
}

.copyright-ratio > p:last-child {
    margin-top: 70px;
    font-size: small;
}


.foot-nav-ratio {
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
    margin: 2% 0% 0% 0%;
}

.foot-nav-ratio > a {
    margin: 3% 0% 0% 0%;
    font-size: small;
    text-decoration: none;
    color: var(--rangoongreen);
}

.socials-ratio {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    width: 32%;
}

.socials-ratio > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
    margin-left: 3%;
}

.socials-ratio > div > img {
    width: 5%;
    height: auto;
    margin: 0% 3% 0% 0%;
}

.socials-ratio > div > p {
    flex-wrap: wrap;
    font-size: 12px;
    margin: 0%;
}

.socials-ratio > img {
    width: 4vw;
    margin: 0% 4% 0% 0%;
    align-self: flex-end;
}

@media (max-width: 768px) {
    header {
        height: 3.7rem;
    }

    .logo {
        max-height: 8vh;
    }

    .hamburger {
        display: flex;
    }

    nav {
        display: none;
    }

    footer {
        height: 140px;
    }

    .copyright-ratio > p:first-child {
        font-size: medium;
    }

    .copyright-ratio > p:nth-child(2) {
        font-size: smaller;
    }

    .copyright-ratio > p:last-child {
        margin-top: 60px;
        font-size: x-small;
    }
    .foot-nav-ratio > a {
        font-size: x-small;
    }

    .socials-ratio > div {
        margin-left: 0%;
    }

    .socials-ratio > div > img {
        width: 7%;
        height: auto;
    }

    .socials-ratio > div > p {
        font-size: 9px;
        margin-right: 10px;
    }
}

@media (max-width: 376px) {
    header {
        height: 60px;
    }

    .hamburger {
        top: 3%;
        margin-top: 0%;
    }

    .menu {
        width: 75vw;
    }

    .menu-blur {
        width: 5.9rem;
    }

    nav {
        display: none;
    }

    footer {
        height: 100px;
    }

    .copyright-ratio {
        width: 75%;
    }

    .copyright-ratio > p{
        font-size: 12px;
    }

    .copyright-ratio > p:last-child {
        margin-top: 20px;
    }

    .foot-nav-ratio {
        display: none;
    }

    .socials-ratio {
        width: 25%;
    }

    .socials-ratio > img {
        display: none;
    }

    .socials-ratio > div > img {
        width: 16px;
        margin-left: 45px;
        margin-top: 5px;
    }

    .socials-ratio > div > p {
        display: none;
    }
}