:root {
    --barleywhite: #FFF2CC;
    --rangoongreen: #161616;
    --cta: #E8440A;
    --accent: #B89A6A;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;

    padding-top: 5rem;
    width: 100%;
    height: 1000px;
}

.intro {
    box-sizing: border-box;
    margin-top: 3rem;
    padding-left: 2rem;
    width: 92%;
    font-family: 'DM Serif Display';
    font-size: 2rem;
    color: var(--barleywhite);
    align-self: center;
    border-left: 1px solid var(--barleywhite);
}

.projects-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 4rem;
    justify-content: center;
    align-self: center;
}

.filter {
    padding: 0.2rem 2rem;
    margin: 0 1rem 1rem 0;
    border-radius: 50px;
    border: 2px solid var(--barleywhite);
    font-size: 1.5rem;
    font-family: 'DM Serif Display';
    color: var(--barleywhite);
    transition: background-color 0.5s ease;
}

.filter:hover {
    background-color: var(--barleywhite);
    color: var(--rangoongreen);
}
